body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#aichat-box {
  position: fixed;    /* Sticks the element to a fixed position on the viewport */
  bottom: 20px;       /* Moves it 20px away from the bottom */
  right: 20px;        /* Moves it 20px away from the right */
  width: 500px;
  padding: 10px;
  padding-bottom: 200px;
  background-color: #3F3434;
  color: white;
  border-radius: 13px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#msgBox {
  border-radius: 5px;
  padding: 8px;
}

#search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px; /* Limit the width of the search bar */
  margin: 0 auto;
}

.search-bar {
  width: 75%; /* Make the input field take up 80% of the container */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none; /* Remove default focus outline */
}

.search-button {
  padding: 11.5px 15px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}

/* Button hover effect */
.search-button:hover {
  background-color: #45a049;
}

.input-container {
  display: inline-block;
  font-size: 1.2em;
  white-space: nowrap;
  border-right: 3px solid;
  overflow: hidden;
  max-width: 0; /* Start with 0 width */
  animation:
    typing 2s steps(47) forwards, /* Keep text visible after animation */
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% { border-color: transparent; }
}

@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; } /* Reveal the text gradually */
}

.text {
  display: inline-block;
  white-space: nowrap;
}
